{% extends 'base.html' %} {% block content %}

<style>
    body{
        background-color: cornsilk;
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <form action="{% url 'home' %}">
                
                <h2>Successfully logged out!</h2><br>
                <div class="pull-right">
                    <button type="Submit" class="btn btn-success float-right">Return to Homepage</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}