{% extends 'base.html' %} {% block content %}
<style>
    body{
      background-image: url("https://th.bing.com/th/id/OIP.CGDpMDbWjFEKBL4NKIuQ8gHaE8?w=297&h=183&c=7&r=0&o=5&dpr=1.5&pid=1.7");
      background-color:khaki;
      background-repeat: no-repeat;
      background-size: 56%;
      background-position:50% -70%;
    }
</style>

<div class="containerpy">
    <div class="card bg-gradient" style="width:56%; margin-left:22%; background-color:#55e94f">
        <div class="card-body">
            <h2 class="my-3 text-center" style="color:rgb(165, 42, 52)">Welcome to Bus Reservation System</h2>
        </div>
    </div>
    <!-- <h3 style="position: fixed; bottom: 10px; width:100%; text-align: center; color: rgb(152, 47, 82)"> Book your tickets now to have a comfortable journey! </h3> -->
</div>
{% endblock %}